%script{ :type => "text/javascript" }
  = erb(:tracks, :locals => { :tracks => @tracks })


#player
  .wrapper
    #description
      %h2.track
      .artist

    #volume

    #seeker
      .left-fader
      .right-fader

    #controls
      %button#control.play
        Play

- if @minimal == false
  Transition
  %select.transition{ :name => 'fade_type' }
    %option{ :value => 0 } None
    %option{ :value => 1 } Record Scratch

  #upload
    %form{ :action => '/upload', :enctype => 'multipart/form-data', :method => 'post' }
      %input{ :type => 'file', :name => 'file' }

      %input{ :type => 'submit', :value => 'Upload MP3' }

  #upload-clips
    %h2
      Upload Audio Clips

    %form{ :action => '/upload/clips', :enctype => 'multipart/form-data', :method => 'post' }

      %input{ :type => 'file', :name => 'audio1' }
      %input{ :type => 'file', :name => 'audio2' }
      %input{ :type => 'file', :name => 'audio3' }

      %input{ :type => 'submit', :value => 'Upload Audio Clips' }

   
  #playlists
    %h2
      Playlists
    
      - @playlists.each do |playlist|
        %h2
          = playlist.name

        %ul
        - playlist.tracks.order('`order` ASC').each do |track|
          %li
            = track.name
            %a{ :href => "/play_from_playlist?track=#{track.id}&playlist=#{playlist.id}", :class => 'play_from_playlist' }
              play

    %form{ :class => 'add-playlist' }
      %input{ :type => "text" }
      %input{ :type => "submit", :value => "Add Playlist" }


  #library
    %table.tracks
      %thead
        %tr
          %th
            Song
          %th
            Artist
          %th
            Genre
          %th
          %th
